@import './config.css';

@import './modules/global/reset.css';
@import './modules/global/base.css';
@import './modules/global/layout.css';

@import './modules/typography/font-size.css';
@import './modules/typography/weight.css';
@import './modules/typography/formatted.css';

@import './modules/components/button.css';
@import './modules/components/button-grid.css';
@import './modules/components/form.css';
@import './modules/components/accordion.css';

@import './modules/layout/nav.css';
@import './modules/layout/header.css';



/* UI debugging */
/* * { background-color: rgba(0, 255, 255, 0.05) } */