.formatted p {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}
.formatted p:not(:last-child) {
    margin-bottom: calc(var(--base-font-size) * 0.75);
}

.formatted ul {
    list-style-type: square;
    margin-left: 1rem;
    line-height: var(--base-line-height);
    margin-bottom: var(--base-font-size);
}

.formatted h1 { font-size: var(--h1); margin-bottom: calc(var(--base-font-size) * 1); line-height: 1;}
.formatted h2 { font-size: var(--h2); margin-bottom: calc(var(--base-font-size) * 1); line-height: 1.1;}
.formatted h3 { font-size: var(--h3); margin-bottom: calc(var(--base-font-size) * .75); line-height: 1.2;}
.formatted h4 { font-size: var(--h4); margin-bottom: calc(var(--base-font-size) * .75); line-height: 1.2;}
.formatted h5 { font-size: var(--h5); margin-bottom: calc(var(--base-font-size) * .5); line-height: 1.2;}
.formatted h6 { font-size: var(--h6); margin-bottom: calc(var(--base-font-size) * .5); line-height: 1.2;}