.layout {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;

    background-color: var(--brand-2);
    padding: var(--space-sm);

    transform: translateX( calc( 100% + var(--space-xs) ));
    transition: all 400ms cubic-bezier(.7, .1, .2, 1);

    overflow-y: scroll;
    overflow-x: hidden;
}

.layout.active {
    transform: translateX(0);
}



@media(min-width:600px){
    .layout {
        width: 70vw;
    }
}
@media(min-width:1200px){
    .layout {
        width: 40vw;
    }
}


.actions {
    position: absolute;
    top: var(--space-xs);
    right: var(--space-xs);
}

.closeButton {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: calc(var(--ui-radius) * 2);
    border: none;
    
    color: hsl(from var(--button) h s calc(l + 15) / 1);
    font-size: 2rem;
    font-weight: 200;
    background-color: transparent;
    transition: all 250ms ease-in-out;
}
.closeButton:hover {
    background-color: var(--bg);
    color: var(--fg);
}